<h2>Log-in</h2>

<%= form_for @member, :url => 'sessions' do |f| %>
    <p>
        <%= f.label :email, "Email: " %>
        <%= f.text_field :email %><br />
    </p>
    <p>
        <%= f.label :password, "Password: " %>
        <%= f.password_field :password %><br />
    </p>
    <p><%= f.submit "Log In" %></p>

    <%= link_to "Log In with Google", '/auth/google_oauth2', :class => "google" %>
<% end %>