<h2>Your Issues</h2>
<h3>Please rank your issues in order of importance:</h3>
<%= form_for @member, :url => "edit", :method => 'post' do |f| %>
        <%= f.fields_for :member_issues, @member.member_issues do |issue_field| %>
            <p>
                <%= issue_field.text_field :ranking, { maxlength: 1, size: 1, style: "direction: rtl;" } %> 
                <% # binding.pry %>
                <%= issue_field.object.issue.key_word.titleize %> 
            </p>
        <% end %>
    <%= f.submit "Done" %>
<% end %>
    