<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>PcydManager</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="stylesheets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="stylesheets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/landing-page.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/directors">Directors</a>
        <a class="navbar-brand" href="/committees">Committees</a>
        <a class="navbar-brand" href="/members">Members</a>
        <% if admin? %>
        <a class="navbar-brand" href="/admins">Admin</a>
        <% end %>
        <% if !logged_in? %>
          <a class="btn btn-primary" href="/login">Sign In</a>
        <% else %>
          <a class="btn btn-primary" href="/logout">Log Out</a>
        <% end %>
      </div>
    </nav>

    <div class="wrapper">



        <%= yield %>

      <footer class="branding">
        <small>&copy; 2019 <strong>PcydManager</strong></small>
        <%  flash.each do |name, msg| %>
        <%  msg.each do |m| %>
          <p><%=  content_tag :div, m, class: "#{name} center" %></p>
        <% end %>
      <% end %>
      </footer>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>