<%= form_for(@member) do |f| %>
    <p><%= f.label :name, "Name: " %><%= f.text_field :name %></p>
    <p><%= f.label :phone, "Phone: " %><%= f.text_field :phone %></p>
    <p><%= f.label :email, "E-mail: " %><%= f.text_field :email %></p>
    <p><%= f.label :address, "Address: " %><%= f.text_field :address %></p>
    <p><%= f.collection_check_boxes(:issue_ids, @issues, :id, :key_word) do |b| %>
        <%= b.check_box(checked: @member.issue_ids.include?(b.object.id)) + " " + b.label %><%= " | " if b.object != @issues.last %>
        <% end %>
    </p>
    <% if !@member.nil? %>
        <p>
            <%= f.label :password, "Re-enter your password: " %>
            <%= f.password_field :password if !@member.nil? %>
        </p>
        <%= f.submit "Submit Changes" if !@member.nil? %>
    <% else %>
        <%= f.submit "Register" if @member.nil? %>
    <% end %>
<% end %>