<h2>Welcome, <%= @member.name %> </h2>
<%= edit_member_link %>
<div>
  <h3>Contact Info <br/></h3>
  <ul style="list-style-type:none;">
    <li>E-mail: <%=@member.email%></li>
    <li>Phone: <%=@member.phone%></li>
    <li>Address: <%= @member.address %></li>
  </ul>

</div>
<br />
<div>
  <h3>What''s Important to You: </h3>
  <div>
  <ol>
    <% @member.issues.sort.each do |issue| %>
      <li class="list"><%= issue.key_word.titleize %></li>
    <% end %>
  </ol>
  </div>
</div>
<br />
<div>
  <h3>Your Committees  </h3>
  <ul>
    <% @member.committees.each do |committee|%>
        <li class="list"><%= committee.name %></li>
    <%end%>
  </ul>
</div>

